---
import Storm from "&/clan_icons/storm.png";
import Storm_Ribbon from "&/clan_icons/storm_ribbon.png";

import Image from "astro/components/Image.astro";
---
<div class="relative flex justify-center items-center content-center">
    
</div>